# Python caches
*/__pycache*

# Django files
*__pycache__*

# Databases
db.*
*.sql

# PyCharm
.idea/*

# Emacs temp files
\#*
.\#*
*\#*

# Vim temp files
*~
.*~

# Misc files
*.sh

# Uploaded files
/uploads
