/**
 * DNollK.se Layout
 * Copyright 2015, Jacob Jonsson
 * www.github.com/Jassob/DNollK.se.git
 * Free to use under the BSD 2-clause license.
 * http://http://opensource.org/licenses/BSD-2-Clause
 */


/**
 * Table of contents
 ——————————————————————————————————————————————————
 * 1 Posts
 * 1.1 General styling
 * 1.2 Post expansion
 */


/**
 * 1 Posts
 * ——————————————————————————————————————————————————
 * This part is setting the style of the news posts.
 */

/**
 * 1.1 General styling
 * ——————————————————————————————————————————————————
 * This sets the general styling of the posts and newssection items.
 */

article.post header h3,
article.post header p {
    position: relative;

    display: inline;
}

article.post header h3 {
    font-family: "Geomancy-Extra-Bold", sans-serif;

    color: #0e0e0e;
}

article.post header .pub_date {
    float: right;

    margin: 1.2rem;
}

article.post hr.header {
    margin: 0px auto;
    
    border: #fa6607 1px solid;

    margin-bottom: 2rem;

    width: 100%;
}

article.post .post-footer {
    font-size: 1.1rem;

    color: #444;

    margin-bottom: 0px;
}

/**
 * Post expansion
 * ——————————————————————————————————————————————————
 * This section takes care of the styling to make expansion of posts.
 */

.post header .expandBtn,
.post.expanded header .expandBtn {
    background-size: 24px 24px;
    height: 2.4rem;
    width: 2.4rem;

    margin: 1.2rem;

    float: right;
}

.post header .expandBtn.hidden {
    display: none;
}

.post header .expandBtn { background-image: url('../img/Plus.svg'); }
.post.expanded header .expandBtn { background-image: url('../img/Minus.svg'); }

