.member {
    position: relative;
    margin-top: 6rem;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}

.member img {
    width: 90%;
    bottom: 1rem;
    position: static;
}

#donk-header {
    margin: 0;
}

#donk-header h1,
#donk-header h2,
#donk-header h3 {
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 550px) {
    .member { height: 76rem; }

    .member img { position: absolute; }
}

@media (min-width: 750px) { .member { height: 70rem; } }

@media (min-width: 865px) {
    .member img {
        max-width: 30rem;
        left: 50%;
        margin-left: -15rem;
    }
}

@media (min-width: 1000px) { .member { height: 62rem; } }

@media (min-width: 1400px) {
    .member { height: 65rem; }

    .member img {
        max-width: 40rem;
        margin-left: -20rem;
    }
}

header h2 {
    font-family: "Geomancy-Extra-Bold";
    font-size: 2.4rem;
}

p.header-text {
    font-size: 1.8rem;
}

.committee-img {
    width: 90%;
    margin-bottom: 3rem;
}

.committee-name {
    font-family: "Geomancy-Extra-Bold";
    padding-top: 2rem;
    font-size: 3rem;
}

.donk-name {
    font-family: "Geomancy-Extra-Bold";
    font-size:20rem;
    padding-top: 3rem;
    padding-left: 2rem;
}

@media(min-width: 550px) {
    .committee-name {
        font-size: 5rem;
    }

    .committee-text {
        margin-left: 4%;
    }

    header h2 {
        font-size: 5rem;
    }

    header p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    header hr {
        width: 80%;
    }
}

.committee-link {
    list-style-type: none;
    margin-top: 5rem;
}

a.committee-link {
    text-decoration:none;
    font-size: 3rem;
}
