/*
 * DNollK.se Layout
 * Copyright 2015, Jacob Jonsson
 * www.github.com/Jassob/DNollK.se.git
 * Free to use under the BSD 2-clause license.
 * http://http://opensource.org/licenses/BSD-2-Clause
 */


/* Table of contents
——————————————————————————————————————————————————
- Box sizing
- Typography (baseline correction)
- Backgrounds and body styling
- Container styling (card)
- Header
- Navigation
- Content
- Sidebar
- Footer
- Media queries (responsive design)

/* Box sizing
——————————————————————————————————————————————————
Fixing some box size things.
Now borders and paddings are counted 
inwards and does not manipulate the box size
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Typography (baseline correction)
—————————————————————————————————————————————————— */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; }

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.8;  letter-spacing: 0; }


/* Backgrounds and body styling
—————————————————————————————————————————————————— */
body,
.orange-colored {
    background: url("../images/bg_main.png"),
                #DD5227;
}

.card,
.light-colored {
    background: #f8f8f8;
}

/* Reset container styling
—————————————————————————————————————————————————— */
.column,
.columns,
.container {
    margin: 0;

    padding: 0;
}

.container h1,
.container h2,
.container h3,
.card h1,
.card h2,
.card h3 {

    margin-left: 1rem;
    margin-right: 1rem;
}


/* Larger than mobile */
@media (min-width: 400px) {
    .container {
        margin: 0 auto;
    }
}

.content.row {
    margin: 1.2rem auto;
}


#content {
    position: absolute;
    left: 0px;
    
    transition: all 1s ease-in-out;

    width: 100%;
}

#content.pushed {
    position: absolute;
    left: 450px;
    transition: all 0.7s ease-in-out;
}

.container.header {
    padding: 0rem;
}


@media (min-width: 550px) {
    #content {
        position: static;
    }
}


/* Container styling (card)
   ——————————————————————————————————————————————————
   The card class, is represented by a light background
   and sharp edges with a box shadow around.
 */

.card {
    box-shadow: 0px 0px 1.0rem 0.2rem #0e0e0e;

    padding: 1.2rem;

    margin: 1.2rem 0;

    overflow: hidden;
}

.light.card {
    box-shadow: 0px 0px 0.5rem 0.1rem #3e3e3e;
}


/* Header
   ——————————————————————————————————————————————————
   Styling for the header card
*/
.container.header {
    color: #fa6607;

    font-weight: 600;

    margin: 0 auto;

    width: 100%;

    overflow: visible;
}

.header .logo {
    margin-top: 1.2rem;
    padding: 0 0.5rem;
}

.header .image {
    display: none;
}

/* Larger than phone */


/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 400px) {
    .header .logo {
        padding: 0.5rem;
        z-index: 100;
        position: relative;
    }
}

@media (min-width: 550px) {
    .header .image {
        display: inline-block;
        z-index: 10;
        position: relative;
    }

    .header .logo {
        margin-top: -10rem;
        margin-left: 1rem;
    }
}

/* Navigation
—————————————————————————————————————————————————— */
.header nav.primary { overflow-y: hidden; }

.header nav.primary .mobile-nav {
    background: #fa6607;
    
    color: #f8f8f8;

    height: 4.8rem;
    font-size: 2.4rem;

    margin-top: 1.6rem;

    position: relative;
}

.header nav.primary ul {
    position: relative;
    margin: 0;

    padding: 1.2rem;

    display: none;
}

.header nav.primary p {
    display: block;
    width: 40%;

    position: relative;
    top: 0.4rem;

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    cursor: pointer;
}

.header nav.primary img {
    margin: 1.4rem 1.4rem;
    height: 1.8rem;

    position: absolute;

    cursor: pointer;
}

.header nav.primary ul li {
    position: relative;
    list-style: inside none none;

    padding: 1.2rem;

    text-align: center;

    font-size: 2.4rem;
}

.header nav.primary ul li a {
    color: #fa6607;
    text-decoration: none;
}

.header nav.primary ul li.mobile-only {
    display: block;
}

.header nav.primary ul li.desktop-only {
    display: none;
}

ul li #about-menu {
    display: none;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .header nav.primary {
        margin: 0;
        overflow-y: visible;
    }

    .header nav.primary .mobile-nav {
        background: inherit;
        padding-top: 1.2rem;

        display: none;
    }

    .header nav.primary p,
    .header nav.primary img {
        display: none;
    }

    .header nav.primary ul {
        display: block;

        margin: 0;
        margin-top: 2vw;

        padding: 0;
    }

    .header nav.primary ul li {
        display: inline-block;

        padding: 0px 1vw;

        font-size: 1.4vw;
        font-family: 'Geomancy-Extra-Bold', sans-serif;

    }

    .header nav.primary ul li a {
        display: inline-block;

        text-decoration: none;
    }

    .header nav.primary ul li.mobile-only {
        display: none;
    }

    .header nav.primary ul li.desktop-only {
        display: inline-block;
    }

    ul li:hover #about-menu,
    ul li.hovered #about-menu {
        background: #f8f8f8;

        display: block;
        position: absolute;

        width: 40rem;

        margin: 0;
        margin-left: -17rem;

        z-index: 100;
    }

    #about-menu li {
        margin: 1rem;

        display: inline;
    }
}

/* Sidebar
——————————————————————————————————————————————————
Styling for the sidebar
*/
#sidebar {
    position: absolute;

    left: -450px;

    transition: all 0.7s ease-in-out;
}

#sidebar.visible {
    position: absolute;
    left: 0px;

    transition: all 1s ease-in-out;
}

.social {
    max-width: 500px;
}

#instagram {
}

#instagram a {
    display: block;
    margin: 1rem auto;

    text-decoration: none;
    color: #141823;

    font-weight: 800;
    font-size: 1.6rem;
}

#instagram a:hover {
    text-decoration: underline;
}

@media(min-width: 550px) {
    #sidebar {
        position: static;
        left: 0;
    }
}

/* Footer
——————————————————————————————————————————————————
Styling for the footer
*/
footer {

}

/* Media queries (responsive design)
——————————————————————————————————————————————————
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
