/* Left and right margins
——————————————————————————————————————————————————
Helping classes for making margins simple
*/
.left {
    margin-left: 0px;
}

.right {
    margin-right: 0px;
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
.center h1,
.center h2,
.center h3,
.center h4,
.center h5,
.center h6,
.center li {
    text-align: center;
}

.center td,
.center th {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

iframe.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.center-text p {
    text-align: center;
}

/* Link color */
a, a:hover { color: #fa6607; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Top links */
.top-link,
.top-link a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    display: block;

    color: #fa6607;
}


.top-link:hover {
    text-shadow: 0 0 0.7rem #fa6607;
    color: #fa6607;
}

/* Mobile version */
.page.navigation {
    width: 50%;
}

@media (min-width: 550px) {
    .page.navigation {
	width: 25%;
    }
}

.page.navigation img {
    width: 100%;
}
